.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /*Creates a circle on image*/
    object-fit: cover;
    /*Centers and crops image without warping*/
    margin-right: 10px;
}